@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.container-centerer {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container-centerer {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .container-centerer {
    width: 1220px;
  }
}

.main-container {
  flex-grow: 1;
  position: relative;
}
.main-container--form::before {
  position: absolute;
  content: "";
  border: 1px solid #d9d9d9;
  top: 0;
  width: 100vw;
}
@media (min-width: 768px) {
  .main-container--form::before {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
  }
}
.main-header--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
@media (max-width: 767px) {
  .main-header--closed .main-nav__item {
    display: none;
  }
}
.main-header--opened .main-header__toggle {
  /* stylelint-disable */
}
.main-header--opened .main-header__toggle::before, .main-header--opened .main-header__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
}
.main-header--opened .main-header__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header--opened .main-header__toggle::after {
  transform: rotate(-45deg);
}
.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header__logo {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
    height: 52px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    width: 202px;
  }
}

.main-header__logo-pic {
  width: 34px;
  height: 38px;
  margin-right: 56px;
}
@media (min-width: 768px) {
  .main-header__logo-pic {
    width: 174px;
    height: auto;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-pic {
    width: 202px;
    height: auto;
  }
}

.main-header__logo-text {
  width: 101px;
  height: 38px;
}
@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}

.main-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  padding-top: 11px;
}
@media (min-width: 768px) {
  .main-header__top {
    padding-top: 27px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .main-header__top {
    padding-top: 59px;
  }
}

.main-header__toggle {
  position: relative;
  width: 25px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin-left: 58px;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 540px;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 685px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav__list a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  padding-top: 22px;
  padding-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
}
.main-nav__list a:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}
.main-nav__list a:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__list a {
    font-size: 18px;
    line-height: 133%;
    font-weight: 400;
    padding-top: 43px;
    padding-bottom: 6px;
  }
}
@media (min-width: 1440px) {
  .main-nav__list a {
    font-size: 20px;
    line-height: 150%;
    padding-top: 70px;
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 535px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    width: 686px;
  }
}

.main-nav__item {
  position: relative;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__item {
    border-top: none;
    margin-right: 37px;
  }
}
.main-nav__item:last-child {
  border-bottom: 1px solid #e6e6e6;
  margin-right: 0;
}
@media (min-width: 768px) {
  .main-nav__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .main-nav__item--current::before {
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    bottom: 0;
    background-color: #68b738;
    color: #68b738;
    z-index: 2;
    content: "";
  }
}
@media (min-width: 1440px) {
  .main-nav__item--white {
    color: #ffffff;
  }
  .main-nav__item--white::before {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .main-nav__item--green a {
    color: #ffffff;
  }
}

.promo {
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    padding-top: 61px;
    padding-left: 29px;
    min-height: 810px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding-top: 111px;
    min-height: 471px;
  }
}
.promo::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url("../img/index-background.jpg");
  background-color: #68b738;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  min-width: 100%;
  min-height: 302px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/index-background@2x.jpg");
  }
}
@media (min-width: 768px) {
  .promo::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo::before {
    display: block;
    top: -168px;
    width: 50%;
    min-width: 720px;
    min-height: 694px;
    background-image: url("../img/index-background-desktop.jpg");
    background-position-y: 57px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}

.promo__button {
  font-size: 14px;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 100%;
  }
}

@media (min-width: 768px) {
  .promo__wrapper {
    padding-left: 88px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    text-align: start;
    font-size: 60px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    text-align: start;
  }
}

.promo__slogan {
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__slogan {
    text-align: start;
    font-size: 20px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1440px) {
  .promo__slogan {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    transform: translateX(-59%);
    width: 552px;
    height: 499px;
    top: 32px;
  }
}

.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  font-size: 20px;
  line-height: 129%;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1440px) {
  .program-selection__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program-selection__item {
  font-family: "Arial", sans-serif;
  color: #444444;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 19px;
}
.program-selection__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .program-selection__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .program-selection__item {
    padding-left: 53px;
    padding-top: 75px;
    padding-bottom: 53px;
  }
}
@media (min-width: 1440px) {
  .program-selection__item {
    padding-left: 52px;
    padding-top: 77px;
    padding-bottom: 55px;
  }
}

.program-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  padding-left: 72px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .program-selection__title {
    font-size: 36px;
    line-height: 100%;
    padding-left: 0;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .program-selection__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}
.program-selection__title--weight-loss::before {
  position: absolute;
  content: "";
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  width: 50px;
  height: 53px;
  transform: translate(-69px, -13%);
}
@media (min-width: 768px) {
  .program-selection__title--weight-loss::before {
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
    transform: translate(401px, 0);
  }
}
@media (min-width: 1440px) {
  .program-selection__title--weight-loss::before {
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
    transform: translate(-162px, -30%);
  }
}
.program-selection__title--weight-gain::before {
  position: absolute;
  content: "";
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
  transform: translate(-75px, -13%);
}
@media (min-width: 768px) {
  .program-selection__title--weight-gain::before {
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
    transform: translate(359px, 0);
  }
}
@media (min-width: 1440px) {
  .program-selection__title--weight-gain::before {
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
    transform: translate(-181px, -30%);
  }
}

.program-selection__catalog {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.program-selection__catalog:active {
  opacity: 0.3;
}
.program-selection__catalog::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 32px 12px;
  width: 32px;
  height: 12px;
  transform: translate(15px, 25%);
}
@media (min-width: 768px) {
  .program-selection__catalog::after {
    transform: translate(25px, 25%);
  }
}
@media (min-width: 768px) {
  .program-selection__catalog::after {
    transform: translate(25px, 25%);
  }
}

.program-selection__description {
  position: relative;
  margin-top: 0;
  padding-right: 33px;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .program-selection__description {
    padding-right: 357px;
    line-height: 150%;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .program-selection__description {
    padding-right: 51px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .program-selection__description--padding {
    padding-right: 85px;
  }
}
.program-selection__description::after {
  position: absolute;
  content: "";
  border: 1px solid #d9d9d9;
  bottom: -23px;
  left: 0;
  right: 20px;
  width: 240px;
}
@media (min-width: 768px) {
  .program-selection__description::after {
    display: none;
  }
}

.operating-principle {
  position: relative;
  padding-top: 20px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .operating-principle {
    padding-top: 45px;
    padding-bottom: 47px;
  }
  .operating-principle::after {
    position: absolute;
    content: "";
    border: 1px solid #e6e6e6;
    bottom: 0;
    left: 0;
    right: 20px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .operating-principle {
    padding-top: 71px;
    padding-bottom: 26px;
  }
  .operating-principle::after {
    display: none;
  }
}

.operating-principle__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .operating-principle__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.operating-principle__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}
@media (min-width: 768px) {
  .operating-principle__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    padding-right: 105px;
  }
}
@media (min-width: 1440px) {
  .operating-principle__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 78px;
    padding-right: 0;
  }
}

.operating-principle__item {
  font-family: "Arial", sans-serif;
  color: #444444;
  padding-left: 80px;
  position: relative;
}
.operating-principle__item:not(:last-child) {
  margin-bottom: 20px;
}
.operating-principle__item br {
  display: none;
}
.operating-principle__item--eco::before {
  position: absolute;
  content: "";
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  transform: translate(-80px, -2px);
}
@media (min-width: 768px) {
  .operating-principle__item--eco::before {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    transform: translate(0, -111px);
  }
}
.operating-principle__item--form::before {
  position: absolute;
  content: "";
  background-image: url("../img/form.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  transform: translate(-80px, -2px);
}
@media (min-width: 768px) {
  .operating-principle__item--form::before {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    transform: translate(0, -111px);
  }
}
@media (min-width: 1440px) {
  .operating-principle__item--form {
    padding-left: 10px;
  }
}
.operating-principle__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  transform: translate(-80px, -2px);
}
@media (min-width: 768px) {
  .operating-principle__item--food::before {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    transform: translate(0, -111px);
  }
}
.operating-principle__item--time::before {
  position: absolute;
  content: "";
  background-image: url("../img/time.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  transform: translate(-80px, -2px);
}
@media (min-width: 768px) {
  .operating-principle__item--time::before {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    transform: translate(0, -111px);
  }
}
@media (min-width: 768px) {
  .operating-principle__item {
    font-size: 16px;
    line-height: 150%;
    padding-top: 151px;
    padding-left: 0;
  }
  .operating-principle__item br {
    display: inline-block;
  }
  .operating-principle__item:last-child {
    margin-right: -12px;
  }
  .operating-principle__item::after {
    content: counter(li);
    counter-increment: li 1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 100%;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 118px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .operating-principle__item br {
    display: none;
  }
}

.example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .example::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    background: #eaeaea;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    padding-top: 43px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .example {
    padding-top: 69px;
    padding-bottom: 65px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .example__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__intro {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__intro {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 54px;
    width: 97%;
  }
}
@media (min-width: 1440px) {
  .example__intro {
    margin-bottom: 69px;
    width: 436px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .example__list {
    width: 366px;
  }
}
@media (min-width: 1440px) {
  .example__list {
    width: 360px;
  }
}

.example__item {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  max-width: 124px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 16px;
}
.example__item:not(:last-child) {
  margin-right: 16px;
}
@media (min-width: 768px) {
  .example__item {
    max-width: 162px;
    padding: 23px 10px 20px;
  }
  .example__item:not(:last-child) {
    margin-right: 42px;
  }
}

.example__block {
  max-width: inherit;
  padding: 0;
  margin-bottom: -25px;
}

.example__value {
  font-size: 24px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .example__value {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 123%;
  }
}

.example__parameter {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  margin-bottom: -15px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__parameter {
    background-color: #ffffff;
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .example__parameter {
    background-color: #eaeaea;
  }
}

.example__price {
  display: block;
  line-height: 143%;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__price {
    font-size: 20px;
    line-height: 100%;
    padding-top: 11px;
    width: 174px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example__price {
    width: inherit;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .example__cost {
    margin-left: 63px;
  }
}

.example__column {
  z-index: 2;
}

.range__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .range__wrapper {
    margin: 0 auto;
    width: 591px;
  }
}

.range__illustration {
  margin-bottom: 15px;
  position: relative;
  width: 280px;
  height: 232px;
}
@media (min-width: 768px) {
  .range__illustration {
    width: 592px;
    height: 511px;
  }
}

.range__image {
  position: absolute;
  bottom: 0;
}
.range__image--after {
  display: none;
}
@media (min-width: 768px) {
  .range__image--after {
    display: block;
    width: 50%;
    overflow: hidden;
    left: 50%;
  }
  .range__image--after img {
    bottom: 0;
    transform: translateX(-45%);
  }
}
@media (min-width: 768px) {
  .range__image--before {
    width: 50%;
    overflow: hidden;
  }
  .range__image--before img {
    bottom: 0;
    transform: translateX(-2%);
  }
}

.range__result {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .range__result {
    border-bottom: 1px dotted #d9d9d9;
    font-size: 20px;
    line-height: 150%;
  }
}

.range__progress {
  position: relative;
}
.range__progress::before {
  content: "";
  background-color: #68b738;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  top: 6px;
  left: 8px;
}
@media (min-width: 768px) {
  .range__progress::before {
    display: none;
  }
}

.range__bar {
  display: flex;
  width: 209px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .range__bar {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.range__toggle {
  width: 85px;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 6px;
}
.range__toggle::-webkit-slider-runnable-track {
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 3px 5px;
  box-sizing: border-box;
}
.range__toggle::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
}
.range__toggle::-moz-range-track {
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 3px 5px;
  box-sizing: border-box;
}
.range__toggle::-moz-range-thumb {
  appearance: none;
}
@media (min-width: 768px) {
  .range__toggle {
    width: 426px;
  }
  .range__toggle::-webkit-slider-runnable-track {
    height: 6px;
    background: #dcdcdc;
    border: 0;
  }
  .range__toggle::-webkit-slider-thumb {
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: #68b738;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-top: -14px;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    box-shadow: inset #ffffff 0 0 0 10px;
  }
  .range__toggle::-webkit-slider-thumb:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }
  .range__toggle::-webkit-slider-thumb:active {
    border: 1px solid #68b738;
  }
  .range__toggle::-moz-range-track {
    height: 6px;
    background: #dcdcdc;
  }
  .range__toggle::-moz-range-thumb {
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: #68b738;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-top: -14px;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    box-shadow: inset #ffffff 0 0 0 10px;
  }
  .range__toggle::-moz-range-thumb:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }
  .range__toggle::-moz-range-thumb:active {
    border: 1px solid #68b738;
  }
}

.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .contact__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    width: 628px;
    padding-top: 61px;
    padding-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .contact__wrapper {
    position: absolute;
    background-color: #ffffff;
    max-width: 565px;
    padding-left: 80px;
    padding-right: 80px;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
  }
}

.contact__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.contact__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin-right: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contact__title {
    font-size: 20px;
    line-height: 130%;
  }
}

.contact__text {
  font-family: "Arial", sans-serif;
  line-height: 143%;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .contact__text {
    font-size: 16px;
    line-height: 125%;
    text-align: end;
    padding-right: 0;
  }
  .contact__text span {
    display: block;
    margin-top: 19px;
  }
}
@media (min-width: 1440px) {
  .contact__text {
    text-align: start;
  }
}

.contact__map {
  height: 362px;
}
.contact__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .contact__map {
    height: 400px;
  }
}

.contact__color {
  background-color: #f2f2f2;
}

.main-footer {
  background-color: #f2f2f2;
  padding-top: 39px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .main-footer {
    padding-top: 58px;
    padding-bottom: 56px;
  }
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 78px;
  }
}

.main-footer__logo {
  position: relative;
  display: block;
  margin-bottom: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin-bottom: 0;
    text-align: start;
  }
}

.main-footer__img:hover {
  opacity: 0.8;
}
.main-footer__img:active {
  opacity: 0.6;
}

.main-footer__social {
  padding-bottom: 17px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer__social {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 184px;
    margin-left: 24px;
  }
}
@media (min-width: 1440px) {
  .main-footer__social {
    margin-left: 81px;
  }
}

.main-footer__copyright {
  padding-top: 22px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    padding-top: 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__icon:hover {
  fill: #68b738;
}
.social__icon:active {
  opacity: 0.3;
}

.copyright {
  margin: 0;
}

.copyright__link {
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1440px) {
  .copyright__link {
    justify-content: flex-end;
  }
}

.copyright__text:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.copyright__text:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright__text {
    margin-right: 22px;
  }
}

.copyright__logo:hover {
  fill: #68b738;
}
.copyright__logo:active {
  opacity: 0.3;
}

.selection-header {
  padding-top: 27px;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .selection-header {
    padding-top: 65px;
    padding-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .selection-header {
    padding-top: 77px;
  }
}

.selection-header__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .selection-header__title {
    margin-bottom: 54px;
    font-size: 60px;
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .selection-header__title {
    margin-bottom: 56px;
    padding-left: 0;
  }
}

.selection-header__description {
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .selection-header__description {
    width: 323px;
    font-size: 20px;
    line-height: 150%;
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .selection-header__description {
    padding-left: 0;
  }
}

.selection {
  text-transform: uppercase;
  padding-bottom: 32px;
  position: relative;
}
@media (min-width: 768px) {
  .selection {
    padding-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .selection__form {
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .selection__form {
    padding-left: 0;
  }
}

@media (min-width: 1440px) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .form__list--additionally {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 123px;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
  }
}

.form__block {
  display: flex;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__fieldset--info {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__fieldset--info {
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--info {
    width: 569px;
    margin-right: 72px;
    margin-bottom: 0;
  }
}
.form__fieldset--program-goal {
  border: none;
  padding-top: 22px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  position: relative;
}
@media (min-width: 768px) {
  .form__fieldset--program-goal {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    margin-bottom: 75px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
}
.form__fieldset--program-goal::before {
  position: absolute;
  content: "";
  border: 1px solid #d9d9d9;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .form__fieldset--program-goal::before {
    display: none;
  }
}
.form__fieldset--program-goal::after {
  position: absolute;
  content: "";
  border: 1px solid #d9d9d9;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .form__fieldset--program-goal::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--program-goal {
    width: 568px;
    margin-bottom: 65px;
  }
}
.form__fieldset--contact {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__fieldset--contact {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 69px;
  }
}
.form__fieldset--comment {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__fieldset--comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--comment {
    width: 100%;
    margin-bottom: 67px;
  }
}
.form__fieldset--additionally {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__fieldset--additionally .form__title {
    margin-bottom: 57px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--additionally {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--additionally {
    width: 100%;
    margin-bottom: 61px;
  }
}

.form__title {
  position: relative;
  font-size: 24px;
  line-height: 108%;
  text-transform: none;
  color: #000000;
  margin-bottom: 36px;
  padding-right: 22px;
  background-color: #ffffff;
  max-width: 187px;
}
@media (min-width: 768px) {
  .form__title {
    width: 100%;
    background-color: transparent;
    max-width: none;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
    padding-left: 40px;
    box-sizing: content-box;
    margin-left: -40px;
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .form__title {
    padding-left: 0;
    margin-left: 0;
  }
}
.form__title::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 100vw;
  height: 2px;
  background: #68b738;
  z-index: -1;
  left: 50%;
}
@media (min-width: 768px) {
  .form__title::after {
    transform: translateX(-50%);
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .form__title::after {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .form__text {
    background-color: #ffffff;
    padding-left: 39px;
    margin-left: -40px;
    padding-right: 40px;
  }
}

.form__required {
  font-family: "Arial", sans-serif;
  line-height: 114%;
  text-transform: none;
  color: #000000;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__required {
    margin-left: 61px;
  }
}
@media (min-width: 1440px) {
  .form__required {
    margin-left: 81px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 21px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .form__button {
    margin-bottom: 0;
    font-size: 20px;
    width: 282px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media (min-width: 1440px) {
  .form__button {
    width: 568px;
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    align-items: center;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 12px;
}

.choice {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 46px;
  position: relative;
  display: block;
}
.choice--radio .choice__input {
  /* stylelint-disable */
}
.choice--radio .choice__input:checked + .choice__control::before {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 8px;
  right: 8px;
  background: #68b738;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .choice--radio .choice__input:checked + .choice__control::before {
    width: 18px;
    height: 18px;
    top: 11px;
    right: 11px;
  }
}
.choice--radio .choice__control {
  border-radius: 50%;
}
.choice--radio .choice__control:hover {
  border-color: #bababa;
}
@media (min-width: 768px) {
  .choice {
    padding-left: 60px;
  }
}

.choice__text {
  font-size: 16px;
  line-height: 112%;
  color: #222222;
}
@media (min-width: 768px) {
  .choice__text {
    font-size: 20px;
    line-height: 150%;
  }
}
.choice__text--black {
  color: #000000;
}

.choice__input:checked + .choice__control::before {
  position: absolute;
  content: "";
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: 18px 14px;
  width: 18px;
  height: 14px;
  top: 8px;
  right: 6px;
}
@media (min-width: 768px) {
  .choice__input:checked + .choice__control::before {
    background-size: 24px 19px;
    width: 24px;
    height: 19px;
    top: 10px;
    right: 7px;
  }
}
.choice__input:disabled + .choice__control {
  opacity: 0.3;
}

.choice__control {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .choice__control {
    width: 40px;
    height: 40px;
    left: 0;
  }
}
.choice__control:hover {
  border-color: #bababa;
}

.text-field {
  color: #444444;
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 16px;
  line-height: 112%;
  position: relative;
}
.text-field:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .text-field:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .text-field {
    font-size: 20px;
    line-height: 150%;
  }
}
.text-field--email .text-field__icon {
  stroke: #000000;
}
.text-field--email:hover .text-field__icon {
  stroke: #68b738;
}
@media (min-width: 1440px) {
  .text-field--email {
    width: 569px;
    margin-bottom: 0;
  }
  .text-field--email:not(:last-child) {
    margin-bottom: 0;
  }
}
.text-field--tel:hover .text-field__icon {
  fill: #68b738;
}
@media (min-width: 1440px) {
  .text-field--tel {
    width: 572px;
  }
}
.text-field--error .text-field__input {
  box-shadow: 0 0 0 2px #ff8282;
  border-color: transparent;
}
.text-field--error.text-field--email {
  /* stylelint-disable */
}
.text-field--error.text-field--email .text-field__icon {
  stroke: #ff8282;
}
.text-field--error.text-field--tel .text-field__icon {
  fill: #ff8282;
}

.text-field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  margin-left: 15px;
  padding: 13px 40px 14px 15px;
  border: 1px solid #e7e7e7;
}
.text-field__input:hover {
  border-color: #cdcdcd;
}
.text-field__input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px #444444;
  outline: none;
}
@media (min-width: 768px) {
  .text-field__input {
    margin-left: 11px;
    font-size: 20px;
    line-height: 150%;
    padding: 10px 40px 11px 19px;
  }
}
@media (min-width: 1440px) {
  .text-field__input {
    margin-left: 14px;
  }
}
.text-field__input::placeholder {
  color: #444444;
}
.text-field__input--textarea {
  margin-left: 0;
  resize: none;
  padding: 10px 12px 14px 15px;
  height: 150px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .text-field__input--textarea {
    height: 174px;
  }
}
.text-field__input::-webkit-outer-spin-button, .text-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.text-field__icon {
  position: absolute;
  right: 15px;
}
.text-field__icon--email {
  stroke: #000000;
}

.main-inner {
  padding-top: 28px;
  position: relative;
}
@media (min-width: 768px) {
  .main-inner {
    padding-top: 62px;
  }
}
@media (min-width: 1440px) {
  .main-inner {
    padding-top: 77px;
  }
}
.main-inner::before {
  position: absolute;
  content: "";
  border: 1px solid #d9d9d9;
  top: 0;
  width: 100vw;
}
@media (min-width: 768px) {
  .main-inner::before {
    display: none;
  }
}

.main-inner__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .main-inner__title {
    margin-bottom: 163px;
    font-size: 60px;
  }
}
@media (min-width: 1440px) {
  .main-inner__title {
    margin-bottom: 165px;
  }
}

.catalog {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog {
    padding-bottom: 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 141px;
    column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__item {
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.catalog__item:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .catalog__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.catalog__item::before {
  position: absolute;
  content: "";
  border: 1px solid #ebebeb;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .catalog__item::before {
    display: none;
  }
}
.catalog__item--all {
  padding-top: 27px;
  display: block;
  text-align: center;
}
.catalog__item--all::after {
  position: absolute;
  content: "";
  border: 1px solid #ebebeb;
  bottom: -25px;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .catalog__item--all::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .catalog__item--all {
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 768px) {
  .catalog__item {
    flex-direction: column;
    align-items: center;
    padding-left: 38px;
    padding-right: 37px;
    background-color: #f2f2f2;
    padding-top: 161px;
    padding-bottom: 39px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    padding-top: 164px;
    padding-left: 39px;
    padding-right: 38px;
  }
}

.catalog__link {
  text-decoration: none;
  color: #222222;
}

.catalog__title {
  font-weight: inherit;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 20px;
    line-height: 120%;
    margin: 0 50px 15px 50px;
    text-align: center;
  }
  .catalog__title br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    line-height: 105%;
    margin: 0 12px 19px 17px;
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 125%;
  width: 100%;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .catalog__button {
    margin-top: 30px;
  }
}

.catalog_wrapper {
  width: 50%;
  position: relative;
  align-self: flex-end;
}

.catalog__image {
  width: 84px;
  height: 100px;
  position: relative;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__image {
    position: absolute;
    width: 168px;
    height: 200px;
    bottom: 34px;
  }
}
@media (min-width: 1440px) {
  .catalog__image {
    width: 172px;
    bottom: 44px;
  }
}
.catalog__image img {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .catalog__image img {
    left: 0;
  }
}

.catalog__description {
  width: 50%;
}
@media (min-width: 768px) {
  .catalog__description {
    width: 100%;
  }
}

.catalog__content {
  width: 100%;
  border-collapse: collapse;
}
.catalog__content td {
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__content td {
    padding: 6px 0 9px 0;
  }
}

.content-table__cell {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 133%;
}
.content-table__cell:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  .content-table__cell {
    font-size: 16px;
    line-height: 100%;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
  }
}

@media (min-width: 768px) {
  .show-all {
    background-color: #ffffff;
    padding-top: 52px;
  }
}
@media (min-width: 1440px) {
  .show-all {
    padding-left: 37px;
    padding-right: 36px;
  }
}

.show-all__title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 8px;
  color: #111111;
  position: relative;
}
.show-all__title::before {
  content: "";
  position: absolute;
  background-image: url("../img/plus.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -53px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .show-all__title::before {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    top: -109px;
  }
}
@media (min-width: 768px) {
  .show-all__title {
    font-size: 20px;
    line-height: 110%;
    margin: 109px 50px 23px 50px;
  }
}
@media (min-width: 1440px) {
  .show-all__title {
    margin: 106px 15px 23px 15px;
  }
}

.show-all__intro {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 21px;
  margin-top: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .show-all__intro {
    font-size: 16px;
    line-height: 112%;
    margin: 0 10px 87px 10px;
  }
}
@media (min-width: 1440px) {
  .show-all__intro {
    margin: 0;
    margin-bottom: 87px;
  }
}

.show-all__button {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 125%;
  width: 100%;
}
.show-all__button:hover {
  background-color: #ebebeb;
}
.show-all__button:active {
  color: rgba(68, 68, 68, 0.3);
}

.cross-sell {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .cross-sell {
    padding-top: 64px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .cross-sell {
    padding-top: 76px;
    padding-bottom: 86px;
  }
}

@media (min-width: 1440px) {
  .cross-sell__wrapper {
    display: flex;
  }
}

.cross-sell__container {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .cross-sell__container {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__container {
    min-width: 896px;
    border: none;
    margin-bottom: 0;
  }
}

.cross-sell__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 36px;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .cross-sell__title {
    margin-bottom: 80px;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__title {
    margin-bottom: 79px;
    font-size: 36px;
  }
}
.cross-sell__title::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 100vw;
  height: 2px;
  background: #68b738;
  z-index: -1;
  left: 50%;
}
@media (min-width: 768px) {
  .cross-sell__title::after {
    transform: translateX(-50%);
    top: 22px;
  }
}

.cross-sell__color {
  padding-right: 22px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .cross-sell__color {
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__color {
    margin-left: -36px;
  }
}

.cross-sell__product {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 19px;
}
.cross-sell__product:not(:last-child) {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .cross-sell__product:not(:last-child) {
    margin-bottom: 26px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__product:not(:last-child) {
    margin-bottom: 0;
  }
}
.cross-sell__product:last-of-type {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .cross-sell__product:last-of-type {
    padding-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__product:last-of-type {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .cross-sell__product {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .cross-sell__product {
    padding: 0;
    margin: 0;
  }
}

.product {
  font-family: "Arial", sans-serif;
  line-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #444444;
}
@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr 1fr 1fr 93px;
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1440px) {
  .product {
    grid-template-columns: 325px 1fr 1fr 244px;
    align-items: center;
  }
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 13px;
  margin-bottom: 13px;
  color: #222222;
}
@media (min-width: 768px) {
  .product__title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .product__title {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 25px;
  }
}

.product__order {
  font-size: 16px;
  line-height: 125%;
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (min-width: 1440px) {
  .product__order {
    grid-column-start: 4;
    grid-column-end: -1;
  }
}

.product__number {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .product__number {
    margin-top: 31px;
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .product__number {
    margin-top: 25px;
    justify-self: start;
  }
}

.product__price {
  margin-top: 0;
  margin-bottom: 15px;
  justify-self: end;
}
@media (min-width: 768px) {
  .product__price {
    margin-top: 31px;
  }
}
@media (min-width: 1440px) {
  .product__price {
    margin-top: 25px;
    padding-left: 80px;
    justify-self: start;
  }
}

.order-all {
  color: #ffffff;
  background-image: url("../img/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68b738;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 43px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .order-all {
    background-image: url("../img/catalog-background@2x.jpg");
  }
}
@media (min-width: 768px) {
  .order-all {
    display: flex;
    padding: 57px 124px 60px 77px;
    text-align: left;
    justify-content: space-between;
    background-image: url("../img/catalog-background-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .order-all {
    background-image: url("../img/catalog-background-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .order-all svg {
    width: 80px;
    height: 82px;
  }
}
@media (min-width: 1440px) {
  .order-all {
    margin-left: 79px;
    margin-bottom: 0;
    width: 245px;
    flex-direction: column;
    padding: 0;
    padding-top: 56px;
    padding-bottom: 42px;
    align-items: center;
    background-image: url("../img/catalog-background-desktop.jpg");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .order-all {
    background-image: url("../img/catalog-background-desktop@2x.jpg");
  }
}

.order-all__intro {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 125%;
  margin-top: 46px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .order-all__intro {
    margin-top: 0;
    padding-top: 14px;
  }
}
@media (min-width: 1440px) {
  .order-all__intro {
    margin-top: 46px;
    padding-top: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */