.button {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  background-color: #68b738;
  font-size: 20px;
  line-height: 129%;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;


  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  &--choice {
    font-size: 14px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 14px 26px;
      font-size: 20px;
      line-height: 100%;
    }
  }
}
