.choice {
  &--radio {
    padding-left: 15px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 88px;
  }
}

.choice__text {
  font-size: 16px;
  line-height: 112%;
  color: #222222;

  &--black {
    color: #000000;
  }
}
