.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    position: absolute;
    background-color: #ffffff;
    max-width: 565px;
  }
}

.contact__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin-right: 14px;
}

.contact__text {
  font-family: "Arial", sans-serif;
  line-height: 143%;
}

.contact__map {
  width: 100%;
  object-fit: cover;
}
