.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    width: 628px;
    padding-top: 61px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: #ffffff;
    max-width: 565px;
    padding-left: 80px;
    padding-right: 80px;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
  }
}

.contact__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.contact__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin-right: 14px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 130%;
  }
}

.contact__text {
  font-family: "Arial", sans-serif;
  line-height: 143%;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 4px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 125%;
    text-align: end;
    padding-right: 0;
    margin-top: -3px;

    span {
      display: block;
      margin-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contact__map {
  height: 362px;

  iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contact__color {
  background-color: #f2f2f2;
}
