.copyright {
  margin: 0;
}

.copyright__link {
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 112%;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  &:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright__logo {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
