.example {
  background-color: #eaeaea;
  padding-bottom: 40px;
}

.example__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
}

.example__intro {
  font-family: "Arial", sans-serif;
  color: #444444;
}

.example__list {
  @include clear-list;
}

.example__item {
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;

  &:not(:last-child) {
    padding-right: 16px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 100%;
}

.example__parameter {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
}

.example__price {
  display: block;
  line-height: 143%;
}

.example__range {
  padding-top: 40px;
}
