.example {
  background-color: #eaeaea;
  padding-top: 27px;
  padding-bottom: 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      background: #eaeaea;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding-top: 43px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 65px;
  }
}

.example__container {
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__intro {
  font-family: "Arial", sans-serif;
  color: #444444;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 53px;
    width: 97%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 436px;
  }
}

.example__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.example__item {
  text-align: center;
  padding-left: 19px;
  padding-right: 21px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  max-width: 124px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-right: 32px;
  }

  @media (min-width: $tablet-width) {
    max-width: 162px;
    padding: 15px 10px 17px;

    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.example__block {
  max-width: inherit;
  padding: 0;
  margin-bottom: -25px;
}

.example__value {
  font-size: 24px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 123%;
  }
}

.example__parameter {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  margin-bottom: -15px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__price {
  display: block;
  line-height: 143%;
  margin-top: 0;
  margin-bottom: 42px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    padding-top: 6px;
    width: 174px;
    text-align: right;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: inherit;
    text-align: left;
  }
}

.example__cost {
  @media (min-width: $desktop-width) {
    margin-left: 63px;
  }
}

.example__column {
  z-index: 2;
  margin-bottom: 62px;
}
