.form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    &--additionally {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 55px;
      row-gap: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 77px;
  }
}

.form__block {
  display: flex;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--info {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      width: 569px;
      margin-right: 80px;
      margin-bottom: 0;
      padding-bottom: 30px;
    }
  }

  &--program-goal {
    border: none;
    padding-top: 25px;
    padding-bottom: 19px;
    margin-bottom: 26px;
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 28px;
      margin-bottom: 75px;
      border: 1px solid #e7e7e7;
      box-sizing: border-box;
    }

    &::before {
      position: absolute;
      content: "";
      border-top: 1px solid #d9d9d9;
      top: 0;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &::after {
      position: absolute;
      content: "";
      border-top: 1px solid #d9d9d9;
      bottom: 0;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      width: 568px;
      margin-bottom: 70px;
    }
  }

  &--contact {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 59px;
    }
  }

  &--comment {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin-bottom: 67px;
    }
  }

  &--additionally {
    margin-bottom: 30px;

    .form__title {
      @media (min-width: $tablet-width) {
        margin-bottom: 56px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.form__title {
  position: relative;
  font-size: 24px;
  line-height: 108%;
  text-transform: none;
  color: #000000;
  margin-bottom: 35px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 76px;
    padding-left: 40px;
    box-sizing: content-box;
    margin-left: -40px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 74px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    width: 100vw;
    height: 2px;
    background: #68b738;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }
}

.form__text {
  padding-left: 20px;
  background-color: #ffffff;
  padding-right: 20px;
  display: inline-block;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    margin-left: -40px;
    padding-right: 40px;
  }

  &--small {
    width: 190px;
    padding-right: 9px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-right: 40px;
    }
  }
}

.form__required {
  font-family: "Arial", sans-serif;
  line-height: 114%;
  text-transform: none;
  color: #000000;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
    font-size: 16px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 21px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    width: 282px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__item {
  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 9px;
    }
  }
}
