.form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    &--additionally {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 123px;
      row-gap: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
  }
}


.form__block {
  display: flex;
}

.form__info {
  margin-left: 0;
  padding: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin-right: 72px;
    margin-bottom: 0;
  }
}

.form__program-goal {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__contact {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-top: 76px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 65px;
  }
}

.form__comment {
  margin: 0;
  margin-top: 23px;
  padding: 0;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    padding-top: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    width: 100%;
  }
}

.form__additionally {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 34px;
  padding: 0;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 54px;
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    width: 100%;
    margin-bottom: 61px;
  }
}

.form__title {
  font-size: 24px;
  line-height: 108%;
  text-transform: none;
  color: #000000;
}

.form__required {
  font-family: "Arial", sans-serif;
  line-height: 114%;
  text-transform: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
