.form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    &--additionally {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 123px;
      row-gap: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 104px;
  }
}

.form__group {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    &--contact {
      flex-direction: row;
    }
  }
}


.form__group-title {
  font-size: 24px;
  line-height: 108%;
  text-transform: none;
  color: #000000;
}

.form__required {
  font-family: "Arial", sans-serif;
  line-height: 114%;
  text-transform: none;
  color: #000000;
}

.form__button {
  font-size: 16px;
  line-height: 125%;
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
