.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header__logo {
  text-decoration: none;
  min-height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
