.main-footer {
  color: #444444;
  background-color: #f2f2f2;
  padding-top: 40px;
}

.main-footer__logo {
  padding-bottom: 32px;
}

.main-footer__social {
  padding-top: 20px;
  padding-bottom: 21px;
}
