.main-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  &--index {
    &::before {
      position: absolute;
      content: "";
      top: 65px;
      right: 0;
      background-image: url("../img/index-background.jpg");
      background-color: #68b738;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      min-width: 100%;
      min-height: 302px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background@2x.jpg");
      }

      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
        top: 0;
        width: 50%;
        min-width: 720px;
        min-height: 694px;
        background-image: url("../img/index-background-desktop.jpg");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }

  &--closed {
    .main-header__toggle::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
    }

    @media (max-width: $mobile-width-only) {
      .main-nav__item {
        display: none;
      }
    }
  }

  &--opened {
    &.main-header--index {
      /* stylelint-disable */
      &::before

      /* stylelint-enable */
        {
        top: 267px;
      }
    }


    .main-header__toggle {

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 25px;
        height: 1.5px;
        background-color: #000000;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .main-header__toggle {
      display: none;
    }

    .main-nav__item {
      display: block;
    }
  }
}

.main-header__logo {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__logo-pic {
  width: 34px;
  height: 38px;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: auto;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: auto;
  }
}

.main-header__logo-text {
  width: 101px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.main-header__toggle {
  position: relative;
  width: 25px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin-left: 58px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
