.main-footer {
  background-color: #f2f2f2;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 56px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 78px;
  }
}

.main-footer__logo {
  position: relative;
  display: block;
  margin-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-align: start;
  }
}

.main-footer__img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social {
  padding-bottom: 17px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 184px;
    margin-left: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.main-footer__copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
