.main-inner {
  padding-top: 28px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }

  &::before {
    position: absolute;
    content: "";
    border: 1px solid #d9d9d9;
    top: 0;
    width: 100vw;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-inner__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 163px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
  }
}
