.main-nav__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    width: 540px;
  }

  @media (min-width: $desktop-width) {
    width: 585px;
  }
}

.main-nav__item {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;

  a {
    color: #000000;
    text-decoration: none;
  }
}
