.main-inner {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.main-inner__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}
