.operating-principle {
  position: relative;
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 77px;

    &::after {
      position: absolute;
      content: "";
      border: 1px solid #e6e6e6;
      bottom: 0;
      left: 0;
      right: 20px;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 26px;

    &::after {
      display: none;
    }
  }
}

.operating-principle__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.operating-principle__list {
  @include clear-list;
  counter-reset: li;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 68px;
    padding-right: 79px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 78px;
    padding-right: 0;
  }
}

.operating-principle__item {
  font-family: "Arial", sans-serif;
  color: #444444;
  padding-left: 80px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  br {
    display: none;
  }

  &--eco {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/eco.png");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      transform: translate(-80px, -2px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/eco@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/eco-tablet.png");
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
        transform: translate(0, -111px);

        @media (min-resolution: 2dppx) {
          background-image: url("../img/eco-tablet@2x.png");
        }
      }
    }
  }

  &--form {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/form.png");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      transform: translate(-80px, -2px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/form@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/form-tablet.png");
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
        transform: translate(0, -111px);

        @media (min-resolution: 2dppx) {
          background-image: url("../img/form-tablet@2x.png");
        }
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 10px;
    }
  }

  &--food {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/food.png");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      transform: translate(-80px, -2px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/food@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/food-tablet.png");
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
        transform: translate(0, -111px);

        @media (min-resolution: 2dppx) {
          background-image: url("../img/food-tablet@2x.png");
        }
      }
    }
  }

  &--time {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/time.png");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
      transform: translate(-80px, -2px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/time@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/time-tablet.png");
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
        transform: translate(0, -111px);

        @media (min-resolution: 2dppx) {
          background-image: url("../img/time-tablet@2x.png");
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
    padding-top: 151px;
    padding-left: 0;

    br {
      display: inline-block;
    }

    &:last-child {
      margin-right: -12px;
    }

    &::after {
      content: counter(li);
      counter-increment: li 1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 100%;
      color: #f2f2f2;
      position: absolute;
      top: 0;
      left: 115px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}
