.operating-principle {
  position: relative;
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;

    &::after {
      position: absolute;
      content: "";
      border: 1px solid #e6e6e6;
      bottom: 0;
      left: 0;
      right: 20px;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 26px;

    &::after {
      display: none;
    }
  }
}

.operating-principle__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.operating-principle__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
    padding-right: 105px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 78px;
  }
}

.operating-principle__item {
  font-family: "Arial", sans-serif;
  color: #444444;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
    padding-top: 151px;
    padding-left: 0;

    br {
      display: inline-block;
    }

    &:last-child {
      margin-right: -12px;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}
