.operating-principle {
  padding-top: 20px;
  padding-bottom: 50px;
}

.operating-principle__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  margin-top: 0;
  margin-bottom: 40px;
}

.operating-principle__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 78px;
  }
}

.operating-principle__item {
  font-family: "Arial", sans-serif;
  color: #444444;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
