.order-all {
  color: #ffffff;
  background-image: url("../img/catalog-background.jpg");
  background-size: 320px 289px;
  background-repeat: no-repeat;
  background-color: #68b738;
}

.order-all__intro {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 125%;
}
