.order-all {
  color: #ffffff;
  background-image: url("../img/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68b738;
  text-align: center;
  padding-top: 141px;
  padding-bottom: 43px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-background@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 57px 124px 68px 77px;
    text-align: left;
    justify-content: end;
    background-image: url("../img/catalog-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
    margin-bottom: 0;
    width: 245px;
    flex-direction: column;
    padding: 0;
    padding-top: 56px;
    padding-bottom: 42px;
    align-items: center;
    background-image: url("../img/catalog-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-background-desktop@2x.jpg");
    }
  }
}

.order-all__intro {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 125%;
  max-width: 165px;
  margin: 46px auto 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-gift.svg");
    top: -129px;
    left: 43px;
    width: 78px;
    height: 80px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: -345px;
    }

    @media (min-width: $desktop-width) {
      top: -131px;
      left: 43px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    padding-top: 0;
    text-align: center;
  }
}
