.promo {
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    color: #000000;
    padding-top: 61px;
    padding-left: 29px;
    min-height: 810px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
    min-height: 472px;
    padding-bottom: 82px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-image: url("../img/index-background.jpg");
    background-color: #68b738;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    min-width: 100%;
    min-height: 302px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: -111px;
      width: 50%;
      min-width: 720px;
      min-height: 694px;
      background-image: url("../img/index-background-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__button {
  font-size: 14px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 17px 10px;
    font-size: 20px;
    line-height: 100%;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.promo__slogan {
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-bottom: 52px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    right: 30px;
    bottom: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-59%);
    width: 552px;
    height: 499px;
    top: 30px;
    right: 4px;
  }
}
