.selection-header {
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.selection-header__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    padding-left: 0;
  }
}

.selection-header__description {
  color: #000000;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 150%;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
