.selection {
  text-transform: uppercase;
  padding-bottom: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}

.selection__form {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
