.selection-header {
  text-transform: uppercase;
  padding-top: 27px;
}

.selection-header__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 37px;
}

.selection-header__description {
  color: #000000;
}
