.selection {
  text-transform: uppercase;
  padding-bottom: 32px;
  color: #444444;
}

.selection__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.selection__description {
  color: #000000;
}
