.main-header__logo {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
  font-weight: 500;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}
