.selection {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  text-transform: uppercase;
  padding-bottom: 32px;
  color: #444444;
  background-color: #ffffff;
}

.selection__description {
  color: #000000;
  background-color: #ffffff;
}

.selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
}
